{% load cms_tags menu_tags sekizai_tags %}
{% load static %}
<!doctype html>
<html>
  <head>
  <title>{% block title %}ns-consulting{% endblock title %}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <style type="text/css">
  .nav {
    padding-left: 0;
  }
  .nav li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
  }
  .container {
    width: 940px;
    margin: 0 auto
  }
  .content {
    float: left;
    width: 80%;
  }
  .sidebar {
    float: left;
    width: 20%;
  }
  </style>
  <link rel="stylesheet" href="{% static "css/flexboxgrid2.css" %}">
  <link rel="stylesheet" href="{% static "css/main.css" %}">
  <link rel="stylesheet" href="{% static "css/media_queries.css" %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link href="{% static "css/hamburgers.css" %}" rel="stylesheet">
  {% render_block "css" %}
</head>
<body>
  {% cms_toolbar %}
  <header>
    <div class="row hidden-sm headerLG">
      <div class="col-xs-12 img-wrapper">
        <img src="{% static "img/logoLG.png" %}" alt="Logo">
      </div>
    </div>
    <nav class="row center-xs navbar" id="topNavbar">
      <div class="col-xs-12 topNavbar">
        <div class="row">
          <div class="col-xs-3">
            <button class="hamburger hamburger--spin" type="button">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
          </div>
          <a href="" class="col-xs-6 logoSmall">
            <img src=" {% static "img/logoSmall.png" %}" alt="logo">
          </a>
          <div class="col-xs-3 searchSmall end-xs">
            <button type="submit" class="searcher-submit-btn">
              <img src="{% static "img/loupe.png" %}" alt="">
            </button>
          </div>
        </div>
        <span><a href="">Главная</a></span>
        <span><a href="">О союзе</a></span>
        <span><a href="">Услуги</a></span>
        <span><a href="">Топ-5 событий</a></span>
        <span><a href="">Семинары</a></span>
        <span><a href="">Контакты</a></span>
        <span><a href="">Партнеры</a></span>
      </div>
    </nav>
    <nav class="row hidden-md start-xs navbar" id="topNavbarSM">
      <div class="col-xs-12 navbar-item">
        <a href="">Главная</a>
      </div>
      <div class="col-xs-12 navbar-item">
        <a href="">О союзе</a>
      </div>
      <div class="col-xs-12 navbar-item">
        <a href="">Услуги</a>
      </div>
      <div class="col-xs-12 navbar-item">
        <a href="">Топ-5 событий</a>
      </div>
      <div class="col-xs-12 navbar-item">
        <a href="">Семинары</a>
      </div>
      <div class="col-xs-12 navbar-item">
        <a href="">Контакты</a>
      </div>
      <div class="col-xs-12">
        <a href="">Партнеры</a>
      </div>
    </nav>
  </header>
    <div class="row hidden-lg hidden-xl headerMD">
    <div class="col-xs-12 img-wrapper">
      <img src="{% static "img/logoMD.png" %}" alt="Logo">
    </div>
  </div>
  <div class="container main">
    <div class="row start-xs hidden-xs hidden-md hidden-sm searcher-wrapper">
      <div class="col-xs-10 col-sm-9 col-md-11 searcher-input-wrapper">
        <input type="text" placeholder="Поиск..." class="searcher-input">
      </div>
      <div class="col-md-1 end-xs searcher-btn-wrapper">
        <button type="submit" class="searcher-submit-btn">
          <img src="{% static "img/loupe.png" %}" alt="">
        </button>
      </div>
    </div>
    <div class="row banners">
      <div class="col-xs-12 hidden-md hidden-lg hidden-xl banner-right-top">
        <div class="row center-xs banners-right">
          {% block right_top_mobile %}{% endblock right_top_mobile %}
        </div> 
      </div>
      </div>
      <div class="col-xs-6 col-lg-3 last-xs last-sm first-md hidden-md">
        <div class="row center-xs banners-left">
          <div class="col-xs-12 col-md-12 col-lg-10 banner-left-top">
            {% block left_top %}{% endblock left_top %}
          </div>
          <div class="col-xs-12 col-md-12 col-lg-10 banner-left-center">
            {% block left_center %}{% endblock left_center %}
          </div>
          <div class="col-xs-12 col-md-12 col-lg-10 banner-left-bottom">
            {% block left_bottom %}{% endblock left_bottom %}
          </div>
        </div>
      </div>
      <div class="col-md-8 col-lg-6">
        <div class="row start-xs banners-center">
          <div class="col-xs-12 banner-center-top">
            {% block center_top %}{% endblock center_top %}
          </div>
          <div class="col-xs-12 banner-center-center">
            {% block center_center %}{% endblock center_center %}
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-4 col-lg-3 last-xs">
        <div class="row center-xs banners-right">
          <div class="col-xs-12 col-md-12 col-lg-10 hidden-xs hidden-sm banner-right-top">
            {% block right_top %}{% endblock right_top %}
          </div>
          <div class="col-xs-12 col-md-12 col-lg-10 banner-right-center">
            {% block right_center %}{% endblock right_center %}
          </div>
          <div class="col-xs-12 col-md-12 col-lg-10 hidden-xs hidden-sm hidden-lg hidden-xl banner-left-top">
            {% block left_top_MD %}{% endblock left_top_MD %}
          </div>
          <div class="col-xs-12 col-md-12 col-lg-10 hidden-xs hidden-sm hidden-lg hidden-xl banner-left-center">
            {% block left_center_MD %}{% endblock left_center_MD %}
          </div>
          <div class="col-xs-12 col-md-12 col-lg-10 hidden-xs hidden-sm hidden-lg hidden-xl banner-left-bottom">
            {% block left_bottom_MD %}{% endblock left_bottom_MD %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="row center-xs navbar" id="bottomNavbar">
    <div class="col-xs-12">
      <span><a href="">Главная</a></span>
      <span><a href="">О союзе</a></span>
      <span><a href="">Услуги</a></span>
      <span><a href="">Топ-5 событий</a></span>
      <span><a href="">Семинары</a></span>
      <span><a href="">Контакты</a></span>
      <span><a href="">Партнеры</a></span>
    </div>
  </nav>
  <footer>
    <div class="container">
      <div class="row middle-xs footer-cols">
        <div class="col-xs-12 col-md-6 col-lg-6 left-col middle-xs">
          <p class="copyright">Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit. Minus at, accusantium architecto omnis dolores,<br> pariatur voluptatibus rem itaque odio.</p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6 end-lg end-md right-col">
          <a href=""><img src="{% static "img/mailru-rating.png" %}" alt="img1"></a>
          <a href=""><img src="{% static "img/rating.png" %}" alt="img2"></a>
          <a href=""><img src="{% static "img/rambler-rating.png" %}" alt="img3"></a>
        </div>
      </div>
    </div>
  </footer>
  <script src='{% static "js/navbarBurger.js" %}'></script>
  {% render_block "js" %}
</body>
</html>