{% load cms_tags menu_tags sekizai_tags %}
{% load static %}
<!doctype html>
<html>
  <head>
  <title>{% block title %}ns-consulting{% endblock title %}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <style type="text/css">
  .nav {
    padding-left: 0;
  }
  .nav li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
  }
  .container {
    width: 940px;
    margin: 0 auto
  }
  .content {
    float: left;
    width: 80%;
  }
  .sidebar {
    float: left;
    width: 20%;
  }
  </style>
  <link rel="stylesheet" href="{% static "css/flexboxgrid2.css" %}">
  <link rel="stylesheet" href="{% static "css/main.css" %}">
  <link rel="stylesheet" href="{% static "css/media_queries.css" %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link href="{% static "css/hamburgers.css" %}" rel="stylesheet">
  {% render_block "css" %}
</head>
<body>
  {% cms_toolbar %}
  <header>
    <div class="row hidden-sm headerLG">
      <div class="col-xs-12 img-wrapper">
        <img src="{% static "img/logoLG.png" %}" alt="Logo">
      </div>
    </div>
    <nav class="row center-xs navbar" id="topNavbar">
      <div class="col-xs-12 topNavbar">
        <div class="row">
          <div class="col-xs-3">
            <button class="hamburger hamburger--spin" type="button">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
          </div>
          <a href="" class="col-xs-6 logoSmall">
            <img src=" {% static "img/logoSmall.png" %}" alt="logo">
          </a>
          <div class="col-xs-3 searchSmall end-xs">
            <button type="submit" class="searcher-submit-btn">
              <img src="{% static "img/loupe.png" %}" alt="">
            </button>
          </div>
        </div>
        <span><a href="">Главная</a></span>
        <span><a href="">О союзе</a></span>
        <span><a href="">Услуги</a></span>
        <span><a href="">Топ-5 событий</a></span>
        <span><a href="">Семинары</a></span>
        <span><a href="">Контакты</a></span>
        <span><a href="">Партнеры</a></span>
      </div>
    </nav>
    <nav class="row hidden-md start-xs navbar" id="topNavbarSM">
      <div class="col-xs-12 navbar-item">
        <a href="">Главная</a>
      </div>
      <div class="col-xs-12 navbar-item">
        <a href="">О союзе</a>
      </div>
      <div class="col-xs-12 navbar-item">
        <a href="">Услуги</a>
      </div>
      <div class="col-xs-12 navbar-item">
        <a href="">Топ-5 событий</a>
      </div>
      <div class="col-xs-12 navbar-item">
        <a href="">Семинары</a>
      </div>
      <div class="col-xs-12 navbar-item">
        <a href="">Контакты</a>
      </div>
      <div class="col-xs-12">
        <a href="">Партнеры</a>
      </div>
    </nav>
  </header>
    <div class="row hidden-lg hidden-xl headerMD">
    <div class="col-xs-12 img-wrapper">
      <img src="{% static "img/logoMD.png" %}" alt="Logo">
    </div>
  </div>
  <div class="container main">
    <div class="row start-xs hidden-xs hidden-md hidden-sm searcher-wrapper">
      <div class="col-xs-10 col-sm-9 col-md-11 searcher-input-wrapper">
        <form action="">
          <input type="text" placeholder="Поиск..." class="searcher-input">
        </form>
      </div>
      <div class="col-md-1 end-xs searcher-btn-wrapper">
        <button type="submit" class="searcher-submit-btn">
          <img src="{% static "img/loupe.png" %}" alt="">
        </button>
      </div>
    </div>
    <div class="row banners">
      <div class="col-xs-12 hidden-md hidden-lg hidden-xl banners-right banner-right-1 banner-right-1-XS">
        <div class="row center-xs">
          {% block right_1_XS %}{% endblock right_1_XS %}
        </div> 
      </div>
      <div class="col-xs-6 col-lg-3 hidden-md last-xs last-sm first-lg banners-left">
        <div class="row center-xs">
          <div class="col-xs-12 col-md-12 col-lg-10 banner-left-1">
            {% block left_1 %}{% endblock left_1 %}
          </div>
          <div class="col-xs-12 col-md-12 col-lg-10">
            {% block left_2 %}{% endblock left_2 %}
          </div>
          <div class="col-xs-12 col-md-12 col-lg-10 banner-left-3">
            {% block left_3 %}{% endblock left_3 %}
          </div>
          <div class="col-xs-12 col-md-12 col-lg-10 banner-left-4">
            {% block left_4 %}{% endblock left_4 %}
          </div>
          <div class="col-xs-12 col-md-12 col-lg-10 hidden-xs hidden-sm">
            {% block left_5 %}{% endblock left_5 %}
          </div>
        </div>
      </div>
      <div class="col-md-8 col-lg-6 banners-center">
        <div class="row start-xs">
          <div class="col-xs-12">
            {% block center_1 %}{% endblock center_1 %}
          </div>
          <div class="col-xs-12 banner-center-2">
            {% block center_2 %}{% endblock center_2 %}
          </div>
          <div class="col-xs-12">
            {% block center_3 %}{% endblock center_3 %}
          </div>
          <div class="col-xs-12 hidden-lg hidden-xl">
            {% block center_4 %}{% endblock center_4 %}
          </div>
          <div class="col-xs-12 hidden-xs hidden-sm hidden-lg hidden-xl banner-center-5">
            {% block center_5 %}{% endblock center_5 %}
          </div>
          <div class="col-xs-12 hidden-xs hidden-sm hidden-lg hidden-xl">
            {% block center_6 %}{% endblock center_6 %}
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-4 col-lg-3 last-xs banners-right">
        <div class="row center-xs">
          <div class="col-xs-12 col-lg-10 hidden-xs hidden-sm first-md banner-right-1">
            {% block right_1 %}{% endblock right_1 %}
          </div>
          <div class="col-xs-12 col-lg-10 hidden-md">
            {% block right_2 %}{% endblock right_2 %}
          </div>
          <div class="col-lg-10 hidden-xs hidden-sm hidden-md">
            {% block right_3 %}{% endblock right_3 %}
          </div>
          <div class="col-xs-12 col-lg-10 hidden-md banner-right-4-MD">
            {% block right_4 %}{% endblock right_4 %}
          </div>
          <div class="col-xs-12 col-md-12 col-lg-10 first-md last-lg banner-right-5">
            {% block right_5 %}{% endblock right_5 %}
          </div>
          <div class="col-md-12 hidden-xs hidden-sm hidden-lg hidden-xl">
            {% block left_1_MD %}{% endblock left_1_MD %}
          </div>
          <div class="col-md-12 hidden-xs hidden-sm hidden-lg hidden-xl">
            {% block left_2_MD %}{% endblock left_2_MD %}
          </div>
          <div class="col-md-12 hidden-xs hidden-sm hidden-lg hidden-xl banner-left-3">
            {% block left_3_MD %}{% endblock left_3_MD %}
          </div>
          <div class="col-md-12 hidden-xs hidden-sm hidden-lg hidden-xl banner-left-4">
            {% block left_4_MD %}{% endblock left_4_MD %}
          </div>
          <div class="col-md-12 hidden-lg hidden-xl">
            {% block right_2_MD %}{% endblock right_2_MD %}
          </div>
          <div class="col-md-12 hidden-xs hidden-sm hidden-lg hidden-xl">
            {% block right_4_MD %}{% endblock right_4_MD %}
          </div>
          <div class="col-xs-12 hidden-lg hidden-xl">
            {% block left_5_XS_MD %}{% endblock left_5_XS_MD %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="row center-xs navbar" id="bottomNavbar">
    <div class="col-xs-12">
      <span><a href="">Главная</a></span>
      <span><a href="">О союзе</a></span>
      <span><a href="">Услуги</a></span>
      <span><a href="">Топ-5 событий</a></span>
      <span><a href="">Семинары</a></span>
      <span><a href="">Контакты</a></span>
      <span><a href="">Партнеры</a></span>
    </div>
  </nav>
  <footer>
    <div class="container">
      <div class="row middle-xs footer-cols">
        <div class="col-xs-12 col-md-6 col-lg-6 left-col middle-xs">
          <p class="copyright">Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit. Minus at, accusantium architecto omnis dolores,<br> pariatur voluptatibus rem itaque odio.</p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6 end-lg end-md right-col">
          <a href=""><img src="{% static "img/mailru-rating.png" %}" alt="img1"></a>
          <a href=""><img src="{% static "img/rating.png" %}" alt="img2"></a>
          <a href=""><img src="{% static "img/rambler-rating.png" %}" alt="img3"></a>
        </div>
      </div>
    </div>
  </footer>
  <script src='{% static "js/navbarBurger.js" %}'></script>
  {% render_block "js" %}
</body>
</html>