{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block left_top %}
  {% static_placeholder "left top" %}
{% endblock left_top %}

{% block left_center %}
  {% static_placeholder "left center" %}
{% endblock left_center %}

{% block left_bottom %}
  {% static_placeholder 'left bottom' %}
{% endblock left_bottom %}

{% block right_top %}
  {% static_placeholder "right top" %}
{% endblock right_top %}

{% block right_center %}
  {% static_placeholder "right center" %}
{% endblock right_center %}

{% block right_bottom %}
  {% static_placeholder 'right bottom' %}
{% endblock right_bottom %}

{% block center_top %}
  {% static_placeholder "center top" %}
{% endblock center_top %}

{% block center_center %}
  {% static_placeholder "center center" %}
{% endblock center_center %}
