{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block left_1 %}
  {% static_placeholder "left 1" %}
{% endblock left_1 %}

{% block left_1_MD %}
  {% static_placeholder "left 1" %}
{% endblock left_1_MD %}

{% block left_2 %}
  {% static_placeholder "left 2" %}
{% endblock left_2 %}

{% block left_2_MD %}
  {% static_placeholder "left 2" %}
{% endblock left_2_MD %}

{% block left_3 %}
  {% static_placeholder 'left 3' %}
{% endblock left_3 %}

{% block left_3_MD %}
  {% static_placeholder 'left 3' %}
{% endblock left_3_MD %}

{% block left_4 %}
  {% static_placeholder "left 4" %}
{% endblock left_4 %}

{% block left_4_MD %}
  {% static_placeholder 'left 4' %}
{% endblock left_4_MD %}

{% block left_5 %}
  {% static_placeholder "left 5" %}
{% endblock left_5 %}

{% block left_5_XS_MD %}
  {% static_placeholder "left 5" %}
{% endblock left_5_XS_MD %}

{% block center_1 %}
  {% static_placeholder "center 1" %}
{% endblock center_1 %}

{% block center_2 %}
  {% static_placeholder "center 2" %}
{% endblock center_2 %}

{% block center_3 %}
  {% static_placeholder "center 3" %}
{% endblock center_3 %}

{% block center_4 %}
  {% static_placeholder "center 4" %}
{% endblock center_4 %}

{% block center_5 %}
  {% static_placeholder "center 5" %}
{% endblock center_5 %}

{% block center_6 %}
  {% static_placeholder "center 6" %}
{% endblock center_6 %}

{% block right_1 %}
  {% static_placeholder "right 1" %}
{% endblock right_1 %}

{% block right_1_XS %}
  {% static_placeholder "right 1" %}
{% endblock right_1_XS %}

{% block right_2 %}
  {% static_placeholder "right 2" %}
{% endblock right_2 %}

{% block right_2_MD %}
  {% static_placeholder "right 2" %}
{% endblock right_2_MD %}

{% block right_3 %}
  {% static_placeholder 'right 3' %}
{% endblock right_3 %}

{% block right_4 %}
  {% static_placeholder 'right 4' %}
{% endblock right_4 %}

{% block right_4_MD %}
  {% static_placeholder 'right 4' %}
{% endblock right_4_MD %}

{% block right_5 %}
  {% static_placeholder 'right 5' %}
{% endblock right_5 %}
