.banner-right-1-XS {
  position: relative;
}

.banner-right-1-XS p {
  margin: .7rem 0;
  padding-left: 1.3rem;
}

.banner-right-1-XS p:not(:nth-child(2)) {
  display: none;
}

a.arrow-right {
  position: absolute;
  right: 3%;
  top: 29%;
}

@font-face {
  font-family: Intro-Book;
  src: url(../fonts/Intro-Book.otf);
}

@font-face {
  font-family: Intro-Bold;
  src: url(../fonts/Intro-Bold.ttf);
}

html {
  background-color: #f1f1f1;
  font-family: Intro-Book;
}

.logo-xs-img {
  display: none;
}

.headerLG .img-wrapper, .headerMD .img-wrapper {
  background-image: url(../img/header-LG.png);
  background-repeat: no-repeat;
  background-position: 50% 10%;
  margin-top: -1rem;
  text-align: center;
}

.headerMD .img-wrapper {
  background-image: url(../img/header-MD.png);
  background-position: 50% 15%;
}

.headerLG .img-wrapper img, .headerMD .img-wrapper img {
  padding: 3rem 0;
}

.headerMD {
  margin-bottom: -.7rem;
  margin-top: 1rem;
}

.navbar {
  background-color: #232c3a;
  font-size: 1.125rem;
  padding: 1rem 0;
}

.navbar a {
  color: #fff;
  padding: 1rem 1.83rem;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

a:visited {
  text-decoration: none;
}

a:link {
  text-decoration: none;
  /* background-color: #439a86; */
}

.navbar a:hover, nav.is-active a:hover {
  background-color: #439a86;
}

#topNavbarSM {
  display: none;
}

#topNavbarSM .navbar-item {
  margin: 0 1rem;
}

#topNavbarSM a {
  display: inline-block;
  padding: 0;
  padding-top: 1rem;
  text-align: center; 
}

#topNavbarSM a:last-child {
  padding-bottom: 1.2rem;
}

.navbar .hamburger {
  display: none;
}

.navbar span {
  display: inline-block;
}

.searcher-wrapper {
  padding-left: .7rem;
  padding-right: .8rem;
}

.searcher-wrapper:hover .searcher-input {
  box-shadow: 0 0 .2rem #232c3a;
}

.searcher-wrapper form {
  height: 100%;
}

.searcher-btn-wrapper {
  background-color: #fff;
  margin-bottom: .1rem;
  margin-top: .1rem;
  max-width: 50%;
  padding: 0;
  padding-top: 0.5rem;
  position: relative;
  right: 1%;
}

.searcher-input {
  background-color: #fff;
  border: .1rem solid #fff;
  font-size: 1.3rem;
  height: 100%;
  padding-left: 1.1rem;
  position: relative;
  width: 107%;
}

.searcher-input::-webkit-input-placeholder {
  font-family: Intro-Book;
  font-size: 1.1rem;
}

.searcher-input:-ms-input-placeholder {
  font-family: Intro-Book;
  font-size: 1.1rem;
}

.searcher-input::-ms-input-placeholder {
  font-family: Intro-Book;
  font-size: 1.1rem;
}

.searcher-input::placeholder {
  font-family: Intro-Book;
  font-size: 1.1rem;
}

.searcher-submit-btn {
  background-color: #fff;
  border: none;
}

.searcher-submit-btn img {
  padding: .5rem 0;
}

.main {
  margin-top: 1.5rem;
}

.banners {
  margin-top: 1.8rem;
}

.text-under-img-wrapper {
  height: 100%;
  padding: 0; 
  position: relative;
}

.text-under-img-wrapper img {
  margin-bottom: -.31rem;
  width: 100%;
}

.text-under-img-wrapper > div {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}

.banners a, .banner-right-5 {
  display: inline-block;
  width: 100%;
  background-color: #fff;
}

.banner-right-1 a,
.banner-center-2 a,
.banner-center-5 a,
.banner-right-1-XS-wrapper {
  background-color: #439a86;
}

.banner-right-1 a p,
.banner-center-2 a p,
.banner-center-5 a p,
.banner-left-3 a p,
.banner-left-4 a p {
  color: #fff;
}

.banner-left-4 a {
  background-color: #262038;
}

.banners-right .row > div,
.banners-left .row > div,
.banners-center .row > div {
  margin-bottom: 1.3rem;
  padding: 0;
}

.banners-center .row > div {
  background-color: #fff;
  padding: 0;
}

.banners p,
.banners h1,
.banners h2 {
  color: #000;
  overflow-wrap: break-word;
  padding: 0 1rem;
}

.banners p:first-child {
  margin-top: 1.4rem;
  font-family: Intro-Bold;
}

.banners p:last-child {
  margin-bottom: 1.2rem;
}

.banners img:not(.arrow-right) {
  width: 100%;
}

footer .left-col {
  font-size: 0.8rem; 
  padding-left: 1.5rem;
}

footer .right-col {
  padding-right: 1.5rem;
}

#bottomNavbar {
  margin-top: 4rem;
}

footer .right-col a:not(:first-child):not(:last-child) {
  display: inline-block;
  margin: 1rem 1rem;
}
