@media (min-width: 1200px) {
  .searcher-wrapper {
    padding-left: 1rem;
    padding-right: .9rem;
  }
}
@media (max-width: 1145px) {
  #topNavbar span:last-child, #bottomNavbar span:last-child {
    margin-top: 1.3rem;
  }
}

@media (min-width: 991px) {
  .logoSmall, .searchSmall {
    display: none;
  }
}

@media (max-width: 991px) {
  .navbar span:last-child {
    margin-top: 1.3rem;
  }

  .topNavbar {
    margin-bottom: -1.6rem;
  }

  .searcher-submit-btn {
    background-color: #232c3a;
    border: none;
    margin-top: 1rem;
  }

  .headerLG {
    display: none;
  }

  .navbar {
    margin-top: -0.47rem;
    padding: 0;
  }

  .navbar a:not(.logoSmall) {
    display: none;
  }

  .navbar .hamburger {
    display: block;
    float: left;
  }

  .banners-right:not(:first-child) {
    padding-left: 2.2rem;
    padding-right: 0;
  }

  #bottomNavbar {
    display: none;
  }

  footer .container {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .banners-center,
  .banners-right:first-child {
    padding: 0;
  }

  .banners-left {
    padding-right: 1.1rem;
    padding-left: 0;
  }

  .banners-right:not(:first-child) {
    padding-left: 1.1rem;
    padding-right: 0;
  }

}

@media (max-width: 453px) {
  html {
    font-size: 12px;
  }

  .poll-choice {
    margin-left: .5rem;
  }
}

@media (max-width: 361px) {
  .banner-center-top .banner-header {
    font-size: 1.1rem;
  }

  .banner-center-top .banner-content {
    padding-right: 3rem;
  }
}

@media (max-width: 328px) {
  .banner-center-top .banner-text{
    font-size: .85rem;
  }

  .banner-center-top .banner-content {
    padding-right: 1rem;
  }
}

@media (max-width: 991px) {
  footer .left-col {
    padding-left: 0;
  }

  footer .right-col {
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  footer .right-col {
    padding-left: 0;
}
