@media (min-width: 1200px) {
  .searcher-wrapper {
    padding-left: 1rem;
    padding-right: .9rem;
  }
}

@media (min-width: 1158px) {
  .logoSmall, .searchSmall {
    display: none;
  }
}

@media (max-width: 1158px) {
  .navbar span.navbar-LG-item {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1157px) {
  .headerMD {
    display: block;
  }
}

@media (max-width: 1157px) {
  .headerMD .img-wrapper {
    background-position: 55% 15%;
  }

  .searcher-wrapper {
    display: none;
  }

  .searcher-submit-btn {
    background-color: #232c3a;
    border: none;
    margin-top: 1rem;
  }

  .headerLG {
    display: none;
  }

  .navbar {
    margin-top: -0.47rem;
    padding: 0;
  }

  .navbar a:not(.logoSmall) {
    display: none;
  }

  .navbar .hamburger {
    display: block;
    float: left;
  }

  .banners-center .row > div {
    padding: 0;
  }

  #bottomNavbar {
    display: none;
  }

  footer .container {
    padding: 0;
  }
}

@media (min-width: 767px) and (max-width: 990px) {
  .banners-center .row {
    padding-right: 1.3rem;
  }
}

@media (max-width: 767px) {
  .banners-center,
  .banners-right:first-child {
    padding: 0;
  }

  .banners-left {
    padding-right: 1.1rem;
    padding-left: 0;
  }

  .banners-right:not(:first-child) {
    padding-left: 1.1rem;
    padding-right: 0;
  }

  .topNavbar {
    margin-bottom: -.15rem;
  }
}

@media (max-width: 453px) {
  .poll-choice {
    margin-left: .5rem;
  }
}

@media (max-width: 361px) {
  .banner-center-top .banner-header {
    font-size: 1.1rem;
  }

  .banner-center-top .banner-content {
    padding-right: 3rem;
  }
}

@media (max-width: 328px) {
  .banner-center-top .banner-text{
    font-size: .85rem;
  }

  .banner-center-top .banner-content {
    padding-right: 1rem;
  }
}

@media (max-width: 991px) {
  footer .left-col {
    padding-left: 0;
  }

  footer .right-col {
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .banner-left-1 a {
    background-color: #262038;
  }

  .banner-left-1 a p {
    color: #fff;
  }

  .banner-left-4 a {
    background-color: #1c1c40;
  }

  .banner-right-4-MD a {
    background-color: #439a86;
  }

  .banner-right-4-MD p {
    color: #fff;
  }

  footer .right-col {
    padding-left: 0;
  }
}

@media only screen and (max-width: 575px) {
  .container {
    max-width: 100%;
  }
}

@media only screen and (max-width: 470px) {
  .banners p span {
    font-size: .9rem !important;
  }
}

@media (max-width: 516px) {
  .headerMD .img-wrapper {
    background-image: url(../img/header-SM.png);
    background-position: 55% 10%;
  }
}

@media (min-width: 1913px) {
  .headerLG .img-wrapper {
    background-size: cover;
    background-position: 50% 20%;
  }
}

@media (max-width: 397px) {
  .banner-right-1-XS p span {
    font-size: .8rem !important;
  }
}

@media (max-width: 767px) {
  .logo-sm-img {
    display: none;
  }

  .logo-xs-img {
    display: inline-block;
    padding-top: .5rem;
    padding-bottom: .2rem;
  }

  a.logoSmall {
    padding: 0;
    height: 95%;
    max-width: 50%;
  }

  .navbar span:last-child {
    margin-top: .5rem;
  }

  #topNavbarSM a:first-child {
    margin-top: 1.5rem;
  }

  .searcher-submit-btn {
    margin-top: 0;
    padding: 0;
    height: 93%;
  }

  .searcher-submit-btn img {
    padding: .4rem 0;
  }

  .banner-right-1-XS p {
    margin: .5rem 0;
    padding-left: .9rem;
  }
}

@media (min-width: 768px) and (max-width: 1157px) {
  .navbar span:last-child {
    margin-top: 1.3rem;
  }
}

@media (max-width: 575px) {
  .banners {
    margin-top: 0;
  }
  .main {
    margin-top: .6rem;
  }
}
