@media (max-width: 1199px) {
  .searcher-wrapper {
    margin-left: -.8rem;
  }
}

@media (max-width: 1153px) {
  .navbar span:last-child {
    margin-top: 1.3rem;
  }
}

@media (max-width: 991px) {
  .searcher-input {
    left: -3%;
    width: 112.8%;
  }

  .searcher-btn-wrapper {
    right: -.8%;
  }

  footer .left-col {
    padding-left: 0;
  }

  footer .right-col {
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  footer .right-col {
    padding-left: 0;
  }

  .searcher-input {
    left: -5%;
    width: 141%;
  }

  .searcher-btn-wrapper {
    right: -18%;
  }
}

@media (max-width: 660px) {
  .header {
    display: none;
  }

  .navbar {
    margin-top: -0.47rem;
    padding: 0;
  }

  .navbar a {
    display: none;
  }

  .navbar a:hover {
    border: none;
    padding-bottom: 0;
  }

  .navbar .hamburger {
    display: block;
    float: left;
  }

  #bottomNavbar {
    display: none;
  }
}

@media (max-width: 575px) {
  .searcher-input {
    margin-left: .15rem;
    width: 126%;
  }

  .searcher-btn-wrapper {
    right: -9%;
  }
}

@media (max-width: 468px) {
  .searcher-btn-wrapper {
    right: -7%;
  }
}

@media (max-width: 453px) {
  .banner-center-top .banner-header {
    font-size: 1.3rem;
  }

  .banner-center-top .banner-content {
    padding-right: 4rem;
  }
}

@media (max-width: 425px) {
  .searcher-input {
    left: -7.4%;
  }

  .searcher-input {
    width: 128.8%;
  }

  .searcher-btn-wrapper {
    right: -3%;
  }
}

@media (max-width: 375px) {
  .searcher-input {
    left: -8.4%;
  }

  .searcher-input {
    width: 129.8%;
  }

  .searcher-btn-wrapper {
    right: -3%;
  }
}

@media (max-width: 361px) {
  .banner-center-top .banner-header {
    font-size: 1.1rem;
  }

  .banner-center-top .banner-content {
    padding-right: 3rem;
  }
}

@media (max-width: 331px) {
  .searcher-input {
    width: 132%;
    left: -10%;
  }
  .searcher-submit-btn {
    width: 45px;
  }
}

@media (max-width: 328px) {
  .banner-center-top .banner-text{
    font-size: .85rem;
  }

  .banner-center-top .banner-content {
    padding-right: 1rem;
  }

  footer .right-col a:not(:first-child):not(:last-child) {
    margin: 1rem 0.83rem;
  }
}

@media (max-width: 313px) {
  .searcher-wrapper {
    display: none;
  }
}

@media (max-width: 300px) {
  .banner-center-top {
    display: none;
  }
}
