.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  padding: 0 3rem;
}

.overlay a {
  padding: .5rem;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:active {
  outline: none;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  text-align: right;
}

.overlay .popup-button:hover {
  cursor: pointer;
}

.popup-form {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
     -moz-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.popup-form input {
  -webkit-flex-grow: 2;
  -ms-flex-positive: 2;
          flex-grow: 2;
  border: none;
  padding: 0 .5rem;
  height: 40px;
}

.popup-button {
  padding: 0;
  background-color: #fff;
  border: none;
}

@media screen and (max-width: 450px) {
  .overlay .closebtn {
    font-size: 3.125rem;
  }
} 
