{% extends 'fullwidth.html' %}

{% block center_center %}
  <h1>{{ poll.question }}</h1>
  <form action="{% url 'polls:vote' poll.id %}" method="post">
    {% csrf_token %}
    <div class="poll-choices">
      {% for choice in poll.choice_set.all %}
        <p class="start-xs poll-choice">
          <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
          <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
        </p>
      {% endfor %}
    </div>
    <button class="submit-btn" type="submit" value="Vote">Ответить</button>
  </form>
{% endblock center_center %}